
<div id="users">
  <br><b><h1>Find friends</h1></b>
  <% for user in @users %>
      <div class="user">

        <p>
          <% if current_user.name != user.name %>

          <br><strong><%=h user.name %></strong>
              <%= image_tag user.avatar.url(:med) %>
          <%= link_to "Add Friend", friendships_create_path(:friend_id=> user) %>
              <%= link_to "Send message", new_conversation_path, class: "btn btn-success" %>

        <div class="clear"></div>
        </p>
          <% end %>
      </div>
  <% end %>
</div>